@model E_Ticaret.Models.SignInUp

@{
ViewBag.Title = "Sign_InUp";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign In</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
                    {
                        <form class="form-signin">
                            <div class="form-label-group">
                                   
                                @Html.LabelFor(m => m.SignUp.customerUserName, new { @for = "inputText"})
                                @Html.TextBoxFor(m => m.SignUp.customerUserName, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.SignUp.customerPassword, new { @for = "inputPassword" })
                                @Html.TextBoxFor(m => m.SignUp.customerPassword, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                            </div>
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.SignUp.customerPassword, new { @for = "inputPassword" })
                                @Html.TextBoxFor(m => m.SignUp.customerPassword2, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                            </div>
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.SignUp.customerPhoneNumber, new { @for = "inputText" })
                                @Html.TextBoxFor(m => m.SignUp.customerPhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })
                            </div>
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.SignUp.customerEmail, new { @for = "inputText" })
                                @Html.TextBoxFor(m => m.SignUp.customerEmail, new { @class = "form-control", @type = "email", @placeholder = "E-Mail" })
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase btn-success" type="submit" style="margin-top:20px;">Sign up</button>
                            <label id="error"></label> @ViewBag.error
                        </form>
                    }
                    </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
                    {
                        <form class="form-signin">
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.SignIn.username, new { @for = "inputText" })
                                @Html.TextBoxFor(m => m.SignIn.username, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                            <div class="form-label-group">
                                @Html.LabelFor(m => m.SignIn.password, new { @for = "inputPassword" })
                                @Html.TextBoxFor(m => m.SignIn.password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                            </div>
                            <a for="forgetPassword" href="#">Forgot my password</a>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" style="margin-top:20px;">Sign in</button>
                            <label id="loginError"></label> @ViewBag.loginError
                        </form>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>