<footer>
    <p>&copy; @DateTime.Now.Year - ASP.NET Uygulamam</p>
    <div class="row">
        <div class="col">XXX-XXX-XX-XX</div>
        <div class="col">destek@hotmail.com</div>
        <div class="w-100"></div>
        <div class="col">
            <p>@Html.ActionLink("About", "About")</p>
            <p>@Html.ActionLink("Contact us", "Contact")</p>
        </div>
        <div class="col">
            <p>@Html.ActionLink("Account", "Account")</p>
            <p>@Html.ActionLink("Shopping Cart", "Shopping_Cart")</p>
        </div>
    </div>
</footer>
