@{ 
   
}

@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                @Html.ActionLink("Merhaba " + HttpContext.Current.User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link menu-item m-2" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Cart", "Index", "ShoppingCart", routeValues: null, htmlAttributes: new { @class = "nav-link m-2 menu-item" })

            </li>
            <li class="nav-item"><a class="nav-link m-2" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">

            @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link menu-item m-2" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link menu-item m-2" })
        </li>
        <li class="nav-item">
            @Html.ActionLink(linkText:"Cart",
                actionName:"Index",
                controllerName:"ShoppingCart",
                routeValues: null,
                htmlAttributes: new {@class= "nav-link m-2 menu-item" }
                )
        </li>
    </ul>
}